
h1 {
  color: black;
 font-family: 'Pacifico', cursive;
font-size: 100px;
margin: auto;
text-align: center;

}

h2 {
  color: black;
  font-size: 50px;
font-family: 'Pacifico', cursive;
  margin: auto;
  text-align: center;
}

p {
color: black;
font-size: 25px;
  font-family: 'Pacifico', cursive;
  margin: auto;
  text-align: center;
}
body {
    border: 5px dotted black;
    background-color: rgba(164, 87, 40, 0.67);
    padding-bottom: 200px;

}

a { text-align: center;

}
.corgi{
  margin:auto;
  padding-right: 10px;
  max-width: 80%;
  height: auto;
}
.bouton{
  margin: auto;
  text-align: center;
}
